.frame {
  display: flex;
  flex-direction: row;
}

.sideNavBar {
  display: flex;
  flex-direction: column;
}

.sideNavBarOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 200px;
  padding: 15px 0px 15px 30px;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

.sideNavBarOption:hover {
  background-color: var(--seaSalt);
}

@media (max-width: 1079px) {
  .sideNavBar {
    display: none;
  }
}
