.userStatistics div:nth-child(1) {
  font-size: 0.9375rem;
}

.userStatistics div:nth-child(2) {
  margin-top: 5px;
  font-size: 1.25rem;
  font-weight: 500;
}

.userData {
  font-size: 0.9375rem;
}

.userData label:nth-child(1) {
  font-weight: 600;
  margin-right: 6px;
}

.clientInformation {
  display: grid;
  grid-template-columns: 69% 30%;
  gap: 1%;
  margin-top: var(--marginTopAfterTitle);
}

@media (max-width: 719px) {
  .clientInformation {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
  }
}
